<!DOCTYPE html>

<html>

<head>
    <title>My Cool Page - About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Weather data sourced from <a href="http://weatherstack.com">weatherstack.com</a></p>
        <img class="portrait" src="/img/thumbcat.jpg">
    </div>
    {{>footer}}
</body>
</html>
